<h1>Question:</h1>
<p><%= @question.body %></p>

<h2>Answers:</h2>

<%= link_to t('admins.question.show'), new_admins_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>



<br><%= link_to t('navigation.back'), edit_admins_test_path(@question) %><br>
<td> <%= link_to t('navigation.edit'), edit_admins_question_path(@question) %></td>
<br> <%= link_to t('navigation.delete'), admins_question_path(@question), method: :delete, data: {confirm: "Are you sure?"} %><br>
