<h1><%= t('admins.question.question') %></h1>
<p><%= @question.body %></p>

<h2><%= t('admins.question.answers') %>:</h2>

<%= link_to t('admins.question.show'), new_admins_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>



<br><%= link_to t('navigation.back'), admins_tests_path %><br>
<td> <%= link_to t('navigation.edit'), edit_admins_question_path(@question) %></td>
<br> <%= link_to t('navigation.delete'), admins_question_path(@question), method: :delete, data: {confirm: "Are you sure?"} %><br>
