<h1>Question:</h1>
<p><%= @question.body %></p>

<h2>Answers:</h2>

<%= link_to 'New answer', new_admins_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>



<br><%= link_to 'Back', edit_admins_test_path(@question) %><br>
<td> <%= link_to 'Edit', edit_admins_question_path(@question) %></td>
<br> <%= link_to 'Delete', admins_question_path(@question), method: :delete, data: {confirm: "Are you sure?"} %><br>
