<div class="row justify-content-center mt-3">
  <div class="col">
<h1><%= t('.header') %></h1>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= t('tests.index.title') %>
      <%= octicon 'arrow-up', class: 'caption text-success hide' %>
      <%= octicon 'arrow-down', class: 'caption text-success hide' %>
    </th>
    <th ><%= t('tests.index.level') %></th>
    <th ><%= t('tests.index.category') %></th>
    <th ><%= t('tests.index.question_cont') %></th>
    <th colspan="4"><%= t('tests.index.actions') %></th>
  </tr>
<%= render @tests %>
</table>

<p>
  <%= link_to t('tests.index.add_new'), new_admins_test_path,class: "btn btn-primary btn-circle" %>
</p>

  </div>
</div>
