<p>
  <strong><%= t('tests.show.title') %>:</strong>
  <%=@test.title %>
</p>

<p>
  <strong><%= t('tests.show.level') %>:</strong>
  <%=@test.level %>
</p>

<p>
  <strong> <%= t('tests.show.questions') %>: </strong>
<%= render @questions %>
</p>


<%= link_to t('tests.show.new_question'), new_admins_test_question_path(@test) %> ||


 <%= link_to t('navigation.back'), admins_tests_path %> ||
 <%= link_to t('shared.action.delete'), edit_admins_test_path(@test) %>


