<div class="row justify-content-center mt-6">
  <div class="col">

<h1><%= t('tests.index.header') %></h1>
<table class="table">
  <tr>
    <th class="sort-by-title pointer"><%= t('tests.index.title') %>
      <%= octicon 'arrow-up', class: 'caption text-success hide' %>
      <%= octicon 'arrow-down', class: 'caption text-success hide' %>
    </th>
    <th><%= t('tests.index.level') %></th>
    <th><%= t('tests.index.category') %></th>
    <th><%= t('tests.index.question_cont') %></th>
    <th><%= t('tests.index.actions') %></th>
  </tr>

<%= render @tests %>
</table>
  </div>
</div>
